facedetect/targetface/*
facedetect/training/*
facedetect/output_images/*
facedetect/output/*
facedetect/validation/*
facedetect/image/*
facedetect/__pycache__/
__pycache__/
output/
output_images/
training/
validation/